{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- aside/sidebar Start -->
    {% include 'mainapp/sidebar.html' %}
    <!-- aside/sidebar End -->

    <main class="dashboard-main">
    <!-- Dashboard Nav Start -->
    {% include 'mainapp/nav.html' %}
    <!-- Dashboard Nav End -->

    <div class="dashboard-main-body">
        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
            <h6 class="fw-semibold mb-0">Dashboard</h6>
        </div>

        <div class="row row-cols-xxxl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-4">

            <a href="{% url 'software' %}">
                <div class="col">
                    <div class="card shadow-none border bg-gradient-start-1 h-100">
                        <div class="card-body p-20">
                            <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                                <div>
                                    <p class="fw-medium text-primary-light mb-1">Total Software Link</p>
                                    <h6 class="mb-0">{{ total_software_links|default:"0" }}</h6> <!-- Display the total -->
                                </div>
                                <div class="w-50-px h-50-px bg-cyan rounded-circle d-flex justify-content-center align-items-center">
                                    <iconify-icon icon="hugeicons:software-license" class="text-white text-2xl mb-0 menu-icon"></iconify-icon>
                                </div>
                            </div>
                        </div>
                    </div><!-- card end -->
                </div>
            </a>

            <a href="{% url 'usermanual' %}">
              <div class="col">
                <div class="card shadow-none border bg-gradient-start-2 h-100">
                  <div class="card-body p-20">
                    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                      <div>
                        <p class="fw-medium text-primary-light mb-1">Total User Manual Link</p>
                        <h6 class="mb-0">{{ total_user_manual_links|default:"0" }}</h6> <!-- Display the total -->
                      </div>
                      <div class="w-50-px h-50-px bg-purple rounded-circle d-flex justify-content-center align-items-center">
                        <iconify-icon icon="solar:book-bold-duotone" class="text-white text-2xl mb-0 menu-icon"></iconify-icon>
                      </div>
                    </div>
                  </div>
                </div><!-- card end -->
              </div>
            </a>
        </div>
    </div>

    <!-- Footer Start -->
    {% include 'mainapp/footer.html' %}
    <!-- Footer End -->

</main>
{% endblock %}
